body{
  background-color: #fafafa;
}

.itemDrag{
  position: absolute !important;
  background-color: coral !important;
  color: white;
  padding: 0.5em 1em;
  width: 100px;
  margin: 0.3em;
  cursor: move !important;
}

.container-imagen{
  height: 85vh;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color:#fafafa;
  box-shadow: 10px 10px 16px -5px rgba(120,120,120,1);
  -webkit-box-shadow: 10px 10px 16px -5px rgba(120,120,120,1);
  -moz-box-shadow: 10px 10px 16px -5px rgba(120,120,120,1);
  position: relative;
  padding: 5px 0 5px 0 ;

}

.ui.menu{
  min-height: 4.65em;
}
.ui.button{
  border-right: 1px solid #fafafa;
}
.container-imagen svg{
  min-width: 771.250px;
  height: 569.275px;
}

.container-valores{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 16%;
  margin: 20px;  
  gap: 20px;
}

 .container-valores button{
  margin: 10px;
  width: 75%;
}

.container-valores input{
  cursor: move !important;
}
 
div.ui.labeled.input.react-draggable{
  position: absolute !important;
  

}
