.itemDrag{
  position: absolute !important;
  background-color: coral !important;
  color: white;
  padding: 0.5em 1em;
  width: 100px;
  margin: 0.3em;
  cursor: move !important;
}

.container-imagen{
  height: 80vh;
  display: flex;
  justify-content: center;
  border: 4px solid orange;
  position: relative;

}
